<!-- <div class="card">
    <img class="card-img-top" [src]="phim.hinhAnh" alt="">
    <div class="card-body">
        <h4 class="card-title"></h4>
        <p class="card-text">{{phim.gia}}</p>
        <button routerLink="/chi-tiet-phim/{{phim.maPhim}}" class="btn btn-primary">Chi tiết</button>
    </div>
</div> -->
<div class="card-phim play-box" >
    
    <div class="content" >
        <figure class="effect-layla">
            <img [src]="phim.hinhAnh" alt="img06" />
            <div class="play-button">
                    <i class="fa fa-play"></i>
            </div>
            <figcaption routerLink="/chi-tiet-phim/{{phim.maPhim}}" > 
                <h4>{{phim.tenPhim}}</h4>
            </figcaption>
            <button class="button-gradient w-100"> MUA VÉ </button>
        </figure>
    </div>
</div>
